<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Login</title>
</head>
<body>
    <div class="esquerda">
        <img src="img/img-tela-login.jpg" alt="Ilustração Login">
    </div>

<div class="direita">
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <div class="grupo">
            <label for="login">Nome:</label>
            <input type="text" id="login" name="login">
        </div>
        <div class="grupo">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
        </div>
        <button class="entrar">ENTRAR</button>
        <a href="#" class="esqueceu">Esqueci minha senha</a>
        <div class="cadastro">
            Ainda não tenho conta
            <button type="button">Cadastrar-se</button>
        </div>
    </form>
</div>
</body>
</html>