<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1&display=swap" rel="stylesheet">
    <title>Página Inicial</title>
</head>
<body>
    <aside class="menu bg-branco">
        <div class="conteudo-principal conteudo-menu">
            <h1><a href="#sobre">SOBRE</a></h1>
            <nav>
                <ul>
                    <li><a href="#historia">HISTÓRIA</a></li>
                    <li><a href="#guias">GUIAS</a></li>
                    <li><a href="#jogos">JOGOS</a></li>
                    <li><a href="#musicas">MÚSICAS</a></li>
                    <li><a href="#artistas">ARTISTAS</a></li>
                    <li><a href="pagina.html">3ª PÁGINA</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="espaco-menu"></div>
    <section id="sobre" class="intro bg-principal secao">
        <div class="conteudo-principal conteudo-intro">
            <div class="conteudo-texto-intro">
                <h2>O que é o Guitar Hero?</h2>
                <p>É uma série de jogos de ritmo que começou em 2005, onde os jogadores utilizam um controle em forma de guitarra para simular a execução de músicas em gutarra solo, baixo e ritmo.</p>
            </div>
            <div class="intro-img">
                <img src="img/guitar-hero.png" alt="Logo do Guitar Hero">
            </div>
        </div>
    </section>
    <section id="historia" class="bg-branco secao">
        <div class="conteudo-principal conteudo-top3">
            <h2>HISTÓRIA</h2>
            <p>Lançado em 2005, Guitar Hero foi um jogo inovador que permitia aos jogadores simular a experiência de tocar guitarra usando um controle em formato de instrumento. Desenvolvido pela Harmonix e publicado pela RedOctane, o jogo chamou atenção por sua trilha sonora recheada de clássicos do rock e por sua jogabilidade envolvente. O sucesso foi tão grande que rapidamente gerou continuações como Guitar Hero II e Guitar Hero III:Legends of Rock</p>
            <p>Com a popularização, a franquia passou a lançar títulos temáticos com banda como Metallica, Aerosmith e Van Halen, além de adicionar novos instrumentos como bateria e microfone. No entanto, o lançamento contínuo de jogos em pouco tempo gerou saturação no mercado. A saída da Harmonix e a concorrência com Rock Band também contribuíram para o desgaste da série</p>
            <p>Em 2011, a Activision decidiu encerrar a produção da franquia após a queda nas vendas. Anos depois, em 2015, Guitar Hero Live marcou o retorno da marca com uma proposta diferente, mas não obteve o mesmo sucesso. Mesmo assim, Gutar Hero deixou um importante legado cultural, inspirando festas, competições e até o interesse de muitos jovens pela música e por instrumentos reais.</p>
        </div>
    </section>
    <section id="guias" class="grid-um bg-principal secao">
        <div class="conteudo-principal conteudo-grid-um">
            <h2 class="cabeca-grid-principal">Três guias</h2>
            <p class="descricao-grid">Para quem quer mandar bem</p>
            <div class="grid">
                <article>
                    <h3>Para iniciantes</h3>
                    <p>Este guia ensina o básico:</p>
                    <ul>
                        <li>Como segurar corretamente a guitarra</li>
                        <li>O que significam as cores dos botões</li>
                        <li>Como usar a "palheta"(botão de strum)</li>
                        <li>Explicações sobre modos de jogos e dificuldade</li>
                    </ul>
                </article>
                <article>
                    <h3>Técnicas avançadas</h3>
                    <p>Para jogadores mais experientes:</p>
                    <ul>
                        <li>Ensina hammer-ons e pull-offs(notas que você toca sem usar o botão de palhetada)</li>
                        <li>Técnicas como "tapping", alt-strumming e "star power path"(uso estratégico do poder)</li>
                        <li>Ajuda a passar músicas no modo Expert e a obter pontuações mais altas</li>
                    </ul>
                </article>               
                <article>
                    <h3>Desempenho e Pontuação</h3>
                    <p>Focado em maximizar sua pontuação:</p>
                    <ul>
                        <li>Explica o sistema de multiplicadores</li>
                        <li>Ensina a ativar o Star Power no momento ideal</li>
                        <li>Dicas de como fazer "FC"(Full Combo - acertar todas as notas da música)</li>
                        <li>Ferramentas online para treinar trechos difíceis(como o Pratice Mode e apps de simulação)</li>
                    </ul>
                </article>               
            </div>
        </div>
    </section>
    <section id="jogos" class="grid-um secao bg-branco">
        <div class="conteudo-principal conteudo-grid-um">
            <h2 class="cabeca-grid-principal">Galeria</h2>
            <p class="descricao-grid">Jogos da franquia</p>
            <div class="grid">
                <div class="img-galeria">
                    <img src="img/Guitar Hero 1.jpg" alt="1">
                </div>
                <div class="img-galeria">
                    <img src="img/Guitar Hero 2.jpg" alt="2">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Rocks the 80s.jpg" alt="3">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Legends of Rock.jpg" alt="4">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Aerosmith.jpg" alt="5">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - World Tour.jpg" alt="6">
                </div> 
                <div class="img-galeria">
                    <img src="img/Guitar Hero - Smash Hits.jpg" alt="7">
                </div>
                <div class="img-galeria">
                    <img src="img/Guitar Hero 5.jpg" alt="8">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Van Halen.jpg" alt="9">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Metallica.jpg" alt="10">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero - Warriors of Rock.jpg" alt="11">
                </div>               
                <div class="img-galeria">                   
                    <img src="img/Guitar Hero Live.jpg" alt="12">
                </div>              
            </div>
        </div>
    </section>
    <section id="musicas" class="grid-um bg-principal secao">
        <div class="conteudo-principal conteudo-grid-um">
            <h2 class="cabeca-grid-principal">Músicas do Jogo</h2>
            <p class="descricao-grid">Um pouco da trilha sonora</p>
            <div class="grid">
                <article>
                    <h3>Principais</h3>
                    <ul>
                        <li>Through the Fire and Flames - DragonForce</li>
                        <li>Sweet Child O'Mine - Guns N'Roses</li>
                        <li>Free Bird - Lynyrd Skynyrd</li>
                        <li>One - Metallica</li>
                        <li>Iron Man - Black Sabbath</li>
                        <li>Welcome to the Jungle - Guns N'Roses</li>
                        <li>Knights of Cydonia - Muse</li>
                        <li>The Number of the Beast - Iron Maiden</li>
                        <li>Smoke on the Water - Deep Purple</li>
                        <li>La Grange - ZZ Top</li>
                    </ul>
                </article>
                <article>
                    <h3>Mais Tocadas</h3>
                    <ul>
                        <li>Through the Fire and Flames - DragonForce</li>
                        <li>Sweet Child O'Mine - Guns N'Roses</li>
                        <li>Free Bird - Lynyrd Skynyrd</li>
                        <li>Knights of Cydonia - Muse</li>
                        <li>Before I Forget - Slipknot</li>
                        <li>Such My Kiss - Red Hot Chili Peppers</li>
                        <li>Bulls on Parade - Rage Against the Machine</li>
                        <li>Everlong - Foo Fighters</li>
                        <li>The Beast and the Harlot - Avenged Sevenfold</li>    
                    </ul>
                </article>               
                <article>
                   <h3>Mais Difíceis</h3>
                    <ul>
                        <li>Through the Fire and Flames - DragonForce</li>
                        <li>The Devil Went Down to Georgia - Steve Ouimette</li>
                        <li>Eruption - Van Halen</li>
                        <li>Jordan - Buckethead</li>
                        <li>Sudden Death - Megadeth</li>
                        <li>Raining Blood - Slayer</li>
                        <li>Caprici Di Diablo - Steve Vai</li>
                        <li>Satch Boogie - Joe Satriani</li>
                        <li>This Day We Fight! - Megadeth</li>
                        <li>Fury of the Storm - DragonForce</li>    
                    </ul> 
                </article>               
            </div>
        </div>
    </section>
    <section id="artistas" class="intro bg-branco secao">
        <div class="conteudo-principal conteudo-intro">
            <div class="conteudo-texto-intro">
                <h2>Artistas que apareceram na série</h2>
                <p>A lista é encabeçada por Tom Morello, guitarrista do Rage Against the Machine. O músico participou de Guitar Hero III: Legends of Rock (PS2) e era desbloqueado após o jogador vencer uma batalha de solos contra ele.</p>
                <p>Assim como Morello, Slash (Guns N’Roses) também deu as caras em Guitar Hero 3. Para jogar com o lendário guitarrista, também era necessário vencê-lo em uma batalha de solos.</p>
                <p>Um dos vocalistas mais conhecidos da história do heavy metal, Ozzy Osbourne já marcou presença na franquia. Em “World Tour” (PS2 e PS3) era possível jogar com ele após completar suas músicas (“Crazy Train” e “Mr. Crowley”) no modo “Vocals” do título.</p>
                <p>Baixista e líder do New Wave, mas conhecido principalmente por seu trabalho no The Police, Sting é outro nome de Guitar Hero: World Tour. Na carreira de baixista, os gamers o desbloqueiam ao completarem a música “Demolition Man”.</p>
                <p>Considerado por muitos como o maior guitarrista da história, Jimi Hendrix é outra estrela de Guitar Hero: World Tour. No quarto estágio do game, “AT&T Park”, ele aparece para tocar duas músicas da sua banda, The Jimi Hendrix Experience. São elas: “The Wind Cries Mary” e “Purple Haze”.</p>
                <p>Um dos maiores nomes da história da música, Kurt Cobain, vocalista e guitarrista do Nirvana, era jogável em GH 5. Para entrar na pele do rockstar, o player precisava tocar o clássico “Smells Like Teen Spirit” no modo carreira.</p>
                <p>Em 2008, a Activision decidiu criar um jogo inteiro dedicado a uma só banda. “Guitar Hero: Aerosmith” (PS2 e PS3) levava os fãs à diversas excursões reais do grupo, como no show do Super Bowl em 2001. Como resultado disso, os quatro integrantes, Steven Tyler (vocais), Joe Perry (guitarra), Tom Hamilton (baixo), Brad Whitford (guitarra base) e Joey Kramer (bateria) estiveram no game.</p>
            </div>
            <div class="intro-img cartaz">
                <img src="img/Site Guitar Hero.jpg" alt="Cartaz.">
            </div>
        </div>
    </section>
    <a class="voltar-topo" href="#sobre">➤</a>
</body>
</html>