<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de login</title>
</head>

<body>

    {% if avisos %}
    <h1>{{ avisos }}</h1>
    {% endif %}

    <form action="salvaLogin" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" />

        <label for="email">Email:</label>
        <input name="email" type="email" />

        <label for="senha">Senha:</label>
        <input name="senha" type="password" />

        <input type="submit" value="Criar login" />
    </form>

</body>

</html>